@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&display=swap");

@import "reset.css";

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  background-color: #082032;
  color: #fff;
  font-family: "Azeret Mono", monospace;
}

.title {
  margin: 40px 0;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.title + p {
  margin-bottom: 30px;
  font-size: 18px;
}

.game-container {
  position: relative;
  padding: 30px;
  width: 450px;
  height: 450px;
}

.figure-container {
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  fill: transparent;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
}

.wrong-letters-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.word {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.letter {
  display: inline-flex;
  align-items: center;
  width: 25px;
  height: 50px;
  margin: 0 5px;
  border-bottom: 3px solid #ff4c29;
  font-size: 40px;
}

.notification-container {
  position: absolute;
  bottom: -50px;
  padding: 15px 30px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out;
}

.notification-container.show {
  transform: translateY(-50px);
}

.popup-container {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup {
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.3);
  background-color: #334756;
  font-size: 30px;
  text-align: center;
}

.popup h2:last-of-type {
  margin-top: 15px;
  font-size: 18px;
}

.popup button {
  margin-top: 20px;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  background-color: #ff4c29;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.popup button:active {
  transform: scale(0.95);
}
